<div class="container-fluid">

    <div><p *ngIf="errorMessage">{{errorMessage}}</p></div>
    <form [formGroup] = "buyProductForm" (ngSubmit)="onSubmit()" autocomplete="off">

        <label for="client" class="pb-1 required">Client:</label>
        <input type="text" class="form-control"  id="client" formControlName="client" autocomplete="off">

        <label for="product" class="pb-1 required">Product:</label>
        <select class="form-control" id="client" formControlName="product" autocomplete="off">
        <option *ngFor="let product of products" [value]="product.uuid">
            {{product?.name}}
        </option>
        </select>

        <button type="submit"[disabled]="!buyProductForm.valid" > Buy</button>
    </form>

</div>